@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,800;1,400;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html, body {
  font-family: 'Montserrat',
  sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald',
  sans-serif;
}

h1 {
  font-family: 'Playfair Display',
  serif;
}
h2 {
  font-size: 2rem;
}


.button {
  @apply text-black py-3 px-5 font-medium border-2 border-primary bg-primary font-sans
}


.table-s {
  @apply border border-gray-600 p-2 rounded-sm
}
.form-control {
  @apply block text-sm py-3 px-4 rounded-lg w-full border outline-none
}

.btn-gray {
  @apply py-3 w-32 text-white bg-gray-800 rounded-md
}

.btn-status {
  @apply text-white bg-blue-600 text-sm rounded-md
}
.btn-white {
  @apply py-3 w-32 text-gray-800 border font-medium border-gray-800 rounded-md
}